<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmproduction.abcd.carreminders"
    android:versionCode="2"
    android:versionName="1.1">

    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:installLocation="internalOnly"
        >
        <!--so we always receive boot_completed -->

        <activity
            android:name="com.mmproduction.abcd.carreminders.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mmproduction.abcd.carreminders.ViewCarsActivity" >
        </activity>
        <activity android:name="com.mmproduction.abcd.carreminders.ViewEventsActivity" >
        </activity>
        <activity android:name="com.mmproduction.abcd.carreminders.ViewSettingsActivity" >
        </activity>
        <activity android:name="com.mmproduction.abcd.carreminders.ViewSingleCarActivity" >
        </activity>

        <receiver android:name="com.mmproduction.abcd.carreminders.AlarmReceiver"  android:enabled="true"/>
        <service android:name="com.mmproduction.abcd.carreminders.AlarmService" />

        <receiver android:name="com.mmproduction.abcd.carreminders.BootBroadcastReceiver" >
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
